@import url(./fonts.css);
@import url(./color.css);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Main dashboard container */
.point-of-sales {
  display: flex; /* Sidebar + Content side-by-side */
  height: 100%;
  width: 100%;
}

/* Dashboard content area */
.point-of-sales-content {
  margin-left: 240px; /* sidebar width */
  height: 100vh; /* fixed height to viewport */
  width: calc(100% - 240px);
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: all 0.3s ease;
  overflow-y: auto; /* scroll if content overflows */
}

/* Header styling */
.point-of-sales-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg-color--);
  padding: 10px 40px;
  border-bottom: 1px solid #f0eeee;
  height: 50px;
  color: var(--primary-color--);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Admin account info */
.dashboard-account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-account img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.dashboard-account p {
  margin: 0;
  font-weight: 500;
  color: var(--primary-color--);
  font-size: 16px;
}

/* POS left side */
.point-of-sales-main-content{
  display: flex;
  height: 100%; /* full height minus header */
}
.POS-left {
  display: flex;
  width: 25%;
  height: 100%;
  background-color: #FFFFFF;
  justify-content: flex-start;
  flex-direction: column;
  
}

.POS-left-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: start;
  padding: 15px 15px 0 5px;
}

.POS-left-top h1{
  font-size: 18px;
  color: var(--primary-color--);
}

.POS-left-top .POS-search-bar {
  display: flex;
  width: 100%;
}

.POS-left-top .POS-search-bar input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #0B4909;
  border-radius: 5px;
  outline: none;
  padding: 3px;
}

.br{
  height: 20px;
  border-bottom: 0.5px solid #dddada;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  
}

.POS-product-list{
  display: flex;
  height: 100%;
  padding: 30px 8px 10px 8px;
}

.cart-items{
  background-color: #f9f9f9;
  height: 20%;
  width: 100%;  
  border-radius: 15px;
  border: 2px solid #CFC0C0 ;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.product-title h1{
  font: 22px 'DmSans';
}

.product-title h3{
  font: 14px 'DmSans';
  color: #6A6A6A;
}

.product-right img{
  cursor: pointer;
}