.inventory-delete-action-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.inventory-delete-action-modal{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.inventory-delete-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}



.inventory-delete-action-modal h2{
    font: 20px 'DmSans', sans-serif;
    color: var(--primary-color--);
}

.inventory-delete-action-modal-message {
    font: 16px 'DmSans', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.modal-actions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.modal-actions button{
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font: 14px 'DmSans', sans-serif;
    cursor: pointer;
}

.modal-actions button:first-child {
    background-color: var(--secondary-color--);
    color: #fff;
}

.modal-actions button:last-child {
    background-color: var(--primary-color--);
    color: #fff;
}