@import "../fonts.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DmSans', 'sans-serif';
}

.addProduct {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}



.add-inventory-product{
    width: 600px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
}

.add-inventory-product-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-inventory-product-title img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.add-inventory-product-title h2{
    font: 24px 'DmSans', sans-serif;
    color: var(--primary-color--);
}



.item h1, .item-right h1{
    font: 12px 'DmSans', sans-serif;
    color: var(--primary-color--);
}

.item input{
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    width: 100%;
}
.form-left{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.form-right{
    display: flex;
    flex-direction: column;
}


.form-right input{
    width: 250px;
}

.form-right .item-right input{
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
}

input:focus{
    outline: none;
    border: 1px solid var(--primary-color--);
}

.bottom{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 0 0;
}

.bottom button{
    padding: 10px 15px;
    background-color: var(--secondary-color--);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: 14px 'DmSans', sans-serif;
}